@charset "UTF-8";

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
}

html {
  font-size: 100%;
}

/*
フッターを画面下に配置するために、
「position: relative;」を設定
「min-height」で最小の高さを画面の高さにあわせる
*/
body {
  color: #333;
  font-size: 0.875rem;
  min-height: 100vh;
  position: relative;
}

/* link */
a {
  color: #333;
  text-decoration: none;
  transition: all 0.5s;
}

/* image */
img {
  max-width: 100%;
}

/* list */
li {
  list-style: none;
}
