<footer class="l-footer wrapper">
  <ul class="l-footer__menu">
    <li class="l-footer__menu-item">
      <a class="l-footer__menu-link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
        INSTAGRAM
      </a>
    </li>

    <li class="l-footer__menu-item">
      <a class="l-footer__menu-link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
        TWITTER
      </a>
    </li>

    <li class="l-footer__menu-item">
      <a class="l-footer__menu-link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
        FACEBOOK
      </a>
    </li>
  </ul>

  <p class="l-footer__copyright">&copy; Furniture Design</p>
</footer>