<footer id="footer" class="wrapper">
  <ul class="footer-menu">
    <li class="footer-menu__item">
      <a
        class="footer-menu__link"
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        INSTAGRAM
      </a>
    </li>

    <li class="footer-menu__item">
      <a class="footer-menu__link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
        TWITTER
      </a>
    </li>

    <li class="footer-menu__item">
      <a class="footer-menu__link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
        FACEBOOK
      </a>
    </li>
  </ul>

  <p class="copyright">&copy; Furniture Design</p>
</footer>