---
const { image, title, price } = Astro.props;
---

<li class="c-product-card">
  <a class="c-product-card__link" href="#">
    <img class="c-product-card__img" src={image} alt={title} />
    <p class="c-product-card__title">{title}</p>
    <p class="c-product-card__price">{price}</p>
  </a>
</li>